<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/public/styles.css">
  <!-- Include Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  

  <header>
    <h1>Soccer T-Shirt Store</h1>
    <a href="cart.html" class="cart-icon">
      <img src="/public/images/cart.png" alt="Nothing">
      <i class="fa fa-shopping-cart"></i>
    </a>
  </header>
  <nav>
    <ul class="nav-list">
      <li><a href="index.html">Home</a></li>
      <li><a href="shop.html">Shop</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <!-- About Us content container -->
  <div class="container">
    <h2>About Us</h2>
    <p>Welcome to Soccer T-Shirt Store! I am a student working on a thrilling university project that aims to revolutionize the way soccer enthusiasts shop for personalized apparel. Our online platform is dedicated to providing a seamless and enjoyable shopping experience for soccer lovers.</p>
    <p>At Soccer T-Shirt Store, customers can explore our extensive catalog of customized soccer-themed T-shirts and unleash their creativity by selecting colors, logos, and adding custom text to make each shirt uniquely their own. With a user-friendly interface, our website ensures a convenient and straightforward checkout process, allowing customers to review the total price and place their orders effortlessly.</p>
    <p>Our mission is to celebrate the passion for soccer through personalized apparel, fostering team spirit and individual expression. We have implemented secure user registration and login functionality, ensuring data privacy and a personalized experience for each user. Additionally, our inventory management features ensure efficient stock tracking, guaranteeing that our customers always have access to the latest and trendiest soccer T-shirts.</p>
    <p>As we prioritize simplicity and user experience, our website is designed with a visually appealing interface using HTML, CSS, and basic JavaScript. Our dedication to providing top-notch service extends to our use of JavaScript (Node.js) for server-side programming and MySQL for a robust and reliable relational database management system.</p>
    <p>Join us in this exciting journey and celebrate your love for soccer with style. Whether you're a player, a fan, or simply looking for a unique gift, Soccer T-Shirt Store has you covered! Thank you for being a part of our project, and we look forward to making your soccer dreams a reality.</p>
  </div>

  <script src="app.js"></script>
</body>
</html>
