<!-- product.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/product.css">
</head>

<body>
    <div class="product-details">
        <img src="" alt="Image Not Found" id="product-image">
        <div class="product-info">
            <h1 id="product-name"></h1>
            <p id="product-description"></p>
        </div>
    </div>

    <script src="/shop.js"></script>
</body>

</html>